<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Company</a>
  <form class="d-flex gap-3 me-2">
    <input #componentSearch pInputText type="search" placeholder="Components search (/)" aria-label="Search"
      [(ngModel)]="gloablSearch" name="gloablSearch" (focus)="showComponentList()" (click)="showComponentList()"
      (input)="onSearchChange($event)" (keyup.enter)="navigateToComponent()" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>