<h3>Angular App</h3>

<p style="font-size: 24px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae iusto
  reiciendis cumque commodi
  minima officia rem quod omnis eum quis explicabo dolore, ex dignissimos sequi eligendi voluptates, quia optio?</p>

<div class="container text-center">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>

<button class="btn btn-primary">button</button>
<p-button>Add</p-button>
<p-button>Cancel</p-button>


<router-outlet></router-outlet>