.headerItem {
  font-weight: bold;
  background-color: #dee2e6;
}

.badge-tab {
  background-color: var(--highlight-bg);
  color: var(--highlight-text-color);
  border-radius: 10px;
  padding: 4px;
}

.user-comp {
  padding: 10px;
  margin: 10px;
}
