<h3> Angular App Pages </h3>

<div class="mt-3 lg:mt-0">
  <button pButton pRipple label="Add" class="p-button-outlined mr-2" icon="pi pi-user-plus"></button>
  <button pButton pRipple label="Save" icon=" pi pi-check"></button>
</div>

<br>
<p-button label="Submit" styleClass="p-button-outlined mr-2"></p-button>
<p-button label="Submit" styleClass="p-button-link"></p-button>

<br> <br>

<ng-container *ngIf="showComponentsList">
  <button (click)="hideComponentsList()" tabindex="-1" class="hide-components-list">hide list</button>
  <div class="component-list-wrapper">
    <!-- <app-components-list [components]="components$ | async"></app-components-list> -->
  </div>
</ng-container>

<!-- <p-panel header="Scoped Panel">
  <p class="m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</p-panel> -->