/* You can add global styles to this file, and also import other style files */
@import "/src/app/theme/theme.scss";
@import "primeicons/primeicons.css";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "/src/app/theme/custom_theme/custom_theme.scss";

// $teal-50: #483288;

.p-panel {
  margin: 6px;
  width: 600px;
  border: 1px solid var(--bluegray-500);
  .p-panel-header {
    background-color: var(--bluegray-500) !important;
    border-color: var(--bluegray-500) !important;
    color: #ffffff;
  }
}

.p-panel .p-panel-content {
  border-color: var(--bluegray-500) !important;
}

input {
  // width: 80px;
  height: 42px;
}

button {
  width: 80px;
  height: 40px;
}
.p-button {
  padding: 4px 6px;
}
